html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.form_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #1a5978;
  width: 60%;
  background-color: transparent;
}

.control-label {
  color: dimgray;
  font-weight: normal;
  font-size: 16px;
}

.mandatory-label:after {
  color: red;
  content: " *";
}

.highlightLabel {
  color: red;
}


.form-group {
  margin-bottom: 30px !important;
}

.allCaps {
  text-transform: uppercase;
}

.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
}

.selectContainer>.ng-select .ng-select-container {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
  min-height: 45px;
  height: auto !important;
  border-bottom-style: solid !important;
  border-bottom-color: #B3B3B3;
}

.button_o {
  padding: 15px 20px;
  background-color: #1a5978;
  color: white;
  border: 0px !important;
  font-size: 1.1em;
  margin-bottom: 5px;
  border-top: 0px;
  width: auto !important;
  border-bottom: 0px !important;
}

form div.text-right {
  text-align: right;
  margin-top: 32px;
}

.align-center {
  text-align: center;
}

.article_title h4 {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 0.05em;
  margin-top: 30px;
  margin-bottom: 27px;
  font-weight: bold;
  color: white;
}

.wizard_steps {
  background-color: #1a5978;
  overflow: hidden;
  width: 100%;
}

.wizard_steps li {
  padding: 15px 9px;
  font-weight: 300;
  font-size: 1.15em;
  letter-spacing: 0.05em;
  background-color: #1a5978;
  margin-right: 15px;
  z-index: 1;
  position: relative;
  width: auto;
  margin-left: 15px;
  text-align: center;
  min-height: 50px;
  max-height: 50px;
  vertical-align: middle;
  display: inline-block;
  list-style-type: none;
  color: #fff;
}

.wizard_steps {
  line-height: 1.3em;
  min-height: 84px;
}

.current_progress {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 5px solid #1a5978;
}

.error-text {
  color: #ee0000;
  margin-top: 10px;
  float: left;
  width: 100%;
}
