.button_back {
    border-right: 0px;
    margin-right: 10px;
}

.align_cont_center{
    margin: auto;
}

.user_form_title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: bold;
    color: #1a5978;
    background-color: transparent;
}