<div *ngIf="noOfTrips">
  <div class="form-group form-row required" *ngFor="let dest of [].constructor(noOfTrips); let i = index">
    <div class="col-md-8">
      <label id="name_label_0" for="name_0_label"
        [ngClass]="{'highlightLabel' : reactiveFormService.fieldIsInvalid(getDestinationFormName(i))}"
        class="control-label">
        <span *ngIf="noOfTrips != 1">Trip {{i + 1}} Destination</span>
        <span *ngIf="noOfTrips == 1">Trip Destination</span>
        <span class="mandatory-label"></span>&nbsp;
      </label>
    </div>
    <div class="col-md-4 col-md-8-offset selectContainer">
      <ng-select id="nameInput_0" labelForId="nameInput_0_Label" [clearable]="false" [items]="tmpDest"
        [placeholder]="sharedVar.TRIP_DEST_PLACEHOLDER_DESC" aria-labelledby="DEST_NAME_LABEL"
        [(ngModel)]="sharedVar.createTripModel.tripDetails.destinations[i].name" [ngModelOptions]="{standalone: true}"
        (change)="onChangeDest(i, sharedVar.createTripModel.tripDetails.destinations[i].name)">
      </ng-select>
    </div>
    <label id="name_error_0" [ngClass]="{'highlightLabel' : reactiveFormService.fieldIsInvalid(getDestinationFormName(i))}"
      class="error-text" for="name_0">
      <span
        *ngIf="getDestinationFormName(i).hasError('required') && !getDestinationFormName(i).value && !getDestinationFormName(i).pristine">This
        field is required</span>
    </label>

    <div class="form-group required">
      <label class="control-label mandatory-label"
        [ngClass]="{'highlightLabel' : reactiveFormService.fieldIsInvalid(getDestinationFormDateFrom(i))}">
        <span id="" *ngIf="noOfTrips == 1">Trip Date From:</span>
        <span id="" *ngIf="noOfTrips != 1">Trip {{i + 1}} Date From:</span>
      </label>
      <div class="col-md-4">
        <input type="text" id="date_from_0" name="date_from" placeholder="dd/mm/yyyy" ngbDatepicker
          class="form-control datepicker" aria-required="true"
          placement="bottom-left top-left auto" #datefromdp="ngbDatepicker" data-container="body"
          (keyup)="datefromdp.close()" (click)="datefromdp.open()" container="body" autocomplete="off"
          [(ngModel)]="sharedVar.createTripModel.tripDetails.destinations[i].dateFrom" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onChangeDateFrom(i)">
      </div>
      <label id="dateFrom_error_0"
        [ngClass]="{'highlightLabel' : reactiveFormService.fieldIsInvalid(getDestinationFormDateFrom(i))}" class="error-text"
        for="dateFrom_0">
        <span *ngIf="this['dateFrom_error_' + i] == 1">Please fill in the field above</span>
        <span *ngIf="getDestinationFormDateFrom(i).hasError('dateToBeforeDateFromErr')">Date To cannot be before than Date
          From</span>
      </label>
    </div>
    <div class="form-group required">
      <label class="control-label mandatory-label"
        [ngClass]="{'highlightLabel' : reactiveFormService.fieldIsInvalid(getDestinationFormDateTo(i))}">
        <span id="" *ngIf="noOfTrips == 1">Trip Date To:</span>
        <span id="" *ngIf="noOfTrips != 1">Trip {{i + 1}} Date To:</span>
      </label>
      <div class="col-md-4">
        <input type="text" id="date_to_0" name="date_to" placeholder="dd/mm/yyyy" ngbDatepicker
          class="form-control datepicker" aria-required="true"
          placement="bottom-left top-left auto" #datetodp="ngbDatepicker" data-container="body"
          (keyup)="datetodp.close()" (click)="datetodp.open()" container="body" autocomplete="off"
          [(ngModel)]="sharedVar.createTripModel.tripDetails.destinations[i].dateTo" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onChangeDateTo(i)">
      </div>
      <label id="dateTo_error_0"
        [ngClass]="{'highlightLabel' : reactiveFormService.fieldIsInvalid(getDestinationFormDateTo(i))}" class="error-text"
        for="dateTo_0">
        <span *ngIf="this['dateTo_error_' + i] == 1">Please fill in the field above</span>
        <span *ngIf="getDestinationFormDateTo(i).hasError('dateToBeforeDateFromErr')">Date To cannot be before than Date
          From</span>
      </label>
    </div>

    <br>
    <div class="sep-hr-line"></div>

  </div>
</div>
