.article_title.progress1 {
  background-color: #153854 !important;
  font-size: 24px;
  padding-top: 1px;
}

.mtop_10 {
  margin-top: 75px;
  background-color: #153854 !important;
}

.wizard_steps.progress1 {
  background-color: #153854 !important;
  padding-bottom: 20px;
}

.wizard_steps2 {
  background-color: #153854 !important;
  line-height: 1.3em;
  min-height: 10px;
}
.wizard_steps.progress1 li {
  background-color: #153854 !important;
}

.wizard_steps.progress1 li span {
  color: #fff;
}

.wizard_steps.progress1 li i.fa.fa-angle-right {
  position: absolute;
  right: -7px;
  font-size: 24px;
}

.wizard_steps.progress1 li i.fa.fa-angle-down {
  visibility: hidden;
}

ul {
  padding-inline-start: 0 !important;
}
