<div class="container-fluid">
  <br />
  <div *ngIf="responseMsg" class="alert alert-success">
    <b>Success: </b> {{responseMsg}}
  </div>
  <div class="card ">
    <h2 class="card-header">
      Manage Trips
    </h2>

    <div class="card-body">
      <div class="container">
        <table class="table table-striped" style="width: 100%">
          <thead class="table-header">
            <tr>
              <th>ID</th>
              <th>Travellers</th>
              <th>Trip Destination Country</th>
              <th>Trip Destination City</th>
              <th>Date From</th>
              <th>Date To</th>
              <th>Total Budget</th>
              <th>Created By</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let trip of trips | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems } ">
              <tr>
                <td>{{trip.id}}</td>
                <td>{{trip.particulars.name}}</td>
                <td>
                  <table>
                    <tr *ngFor="let destination of trip.tripDetails.destinations">
                      <td>{{destination.ctryName}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr *ngFor="let destination of trip.tripDetails.destinations">
                      <td>{{destination.cityName}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr *ngFor="let destination of trip.tripDetails.destinations">
                      <td>{{destination.dateFromStr}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr *ngFor="let destination of trip.tripDetails.destinations">
                      <td>{{destination.dateToStr}}</td>
                    </tr>
                  </table>
                </td>
                <td>{{trip.budget.totalBudget}}</td>
                <td>{{trip.createdBy}}</td>
                <td>
                  <button class="menu_button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Trip Menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="viewTrip(trip)">
                      <mat-icon class="view_icon">view_list</mat-icon>
                      <span>View Trip Details</span>
                    </button>
                    <button mat-menu-item (click)="deleteTrip(trip)">
                      <mat-icon class="close_icon">close</mat-icon>
                      <span>Delete Trip</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="!trips || trips.length == 0">
              <td class=' text-center' colspan=12>
                No Record(s) Found.
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row" *ngIf='trips && trips.length > 0'>
          <div class="col-3 text-left">
            <label>No. of Records: {{totalItems}}</label>
          </div>
          <div class="col-6 text-center">
            <pagination-controls (pageChange)="retrieveAllTrips($event)"></pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
