.bg-hero {
  background: url("../../../../assets/images/ce-travel1980.jpg") no-repeat top left;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 80%;
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bp-hero-body {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bp-hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e509f;
  height: 100px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home-header {
  text-transform: uppercase !important;
  font-size: 30px;
}

.header-container {
  margin-bottom: 160px;
}

.btn-block:hover {
  background-color: #2e509f;
}

.btn-block {
  display: block;
  width: 100%;
  height: 150px;
  border-left: black;
  background-color: #1a5978;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #e6e6e6 !important
}


