<div id="home" class="layout-container">
  <section class="bg-hero">
    <div class="bp-hero-body">
      <div class="header-container">
        <h1>
          <b class="home-header">
            <span>Welcome to Trippify!</span>
          </b>
        </h1>
        <h3>
          <span>A personal travelling application designed for planning vacations & road trips</span>
        </h3>
      </div>
    </div>
  </section>
  <section class="bp-section">
    <div class="bp-hero-buttons">
      <div class="col-6 ">
        <button type="button" class="btn-block create-btn" (click)="submitTripClicked('create')">
          <p class="has-text-white"><b>Create New Trip</b></p>
          <p class="has-text-white"><u>Click here</u> to create a new trip plan.</p>
        </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn-block" (click)="submitTripClicked('manage')">
          <p class="has-text-white"><b>Manage Existing Trip</b></p>
          <p class="has-text-white"><u>Click here</u> to update or delete an existing trip plan.</p>
        </button>
      </div>
    </div>
  </section>
</div>
