<app-progress-banner [currentProgress]="'particulars'"></app-progress-banner>
<div class="create-trip-container">

  <div class="create-trip-sidenav">
    <app-side-nav></app-side-nav>
  </div>

  <div class="create-trip-content">

    <form [formGroup]="createTripParticularForm" novalidate>
      <div class="form_title">
        <span id="">Traveller 1 Particulars</span>
      </div>

      <div class="form-group form-row required">
        <div class="col-md-8">
          <label id="STATIC_QN_LABEL_1" for="qn1Input_0_Label" [ngClass]="{'highlightLabel' : fieldIsInvalid(staticQn1)}"
            class="control-label">
            <span id="STATIC_QN_1">Are you a registered user of this app?</span>
            <span class="mandatory-label"></span>&nbsp;
          </label>
        </div>
        <br>
        <div class="col-md-4 col-md-8-offset selectContainer">
          <ng-select id="qn1Input_0" labelForId="qn1Input_0_Label" [clearable]="false"
            [items]="sharedVar.ynListSource.getValue()" [placeholder]="sharedVar.QN1_PLACEHOLDER_DESC"
            aria-labelledby="STATIC_QN_LABEL_1" formControlName="staticQn1">
          </ng-select>
        </div>
        <label id="qn1_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(staticQn1)}" class="error-text" for="qn1_0">
          <span *ngIf="staticQn1.hasError('required') && !staticQn1.value && !staticQn1.pristine">This field is required</span>
        </label>
      </div>

      <div class="form-group form-row required" *ngIf="staticQn1 && staticQn1.value">
        <div class="form-group required">
          <label id="name_label_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(name)}" class="control-label mandatory-label"
            for="name_0">
            <span>Traveller's Name</span>
          </label>
          <input id="name_0" type="text" class="form-control allCaps" formControlName="name" name="name"
            *ngIf="!isUserRegistered">
          <div class="col-md-4 col-md-8-offset selectContainer" *ngIf="isUserRegistered">
            <ng-select id="nameInput_0" labelForId="name_0" [clearable]="false"
              [items]="(sharedVar.usernameList$ | async)" [placeholder]="sharedVar.NAME_PLACEHOLDER_DESC"
              aria-labelledby="NAME_LABEL_1" formControlName="name">
            </ng-select>
          </div>
          <label id="name_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(name)}" class="error-text" for="name_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence(name) == 'pattern'">Please enter only alphabets or
              spaces</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence(name) == 'maxlength'">Maximum length is 66 characters</span>
            <span *ngIf="name.hasError('required') && !name.value && !name.pristine">This field is required</span>
          </label>
        </div>

        <br>

        <div class="form-group required">
          <label id="email_label_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(email)}" class="control-label mandatory-label"
            for="email_0">
            <span>Traveller's Email Address</span>
          </label>
          <input id="email_0" type="text" class="form-control allCaps" formControlName="email" name="email">
          <label id="email_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(email)}" class="error-text" for="email_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence(email) == 'pattern'">Please enter a valid email address</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence(email) == 'maxlength'">Maximum length is 100 characters</span>
            <span *ngIf="email.hasError('required') && !email.value && !email.pristine">This field is required</span>
          </label>
        </div>
      </div>

      <div class="text-right">
        <button class="button_o button_back btn_text_hover" type="button" (click)="backToHomeScreen()"><span
            id="back">Back</span>
        </button>

        <button class="button_o btn_text_hover" type="button" (click)="confirmClicked()"><span id="next">Next</span>
        </button>
      </div>

    </form>


  </div>

</div>
