<div id="home" class="layout-container">
  <section class="bg-hero">
    <div class="bp-hero-body">
      <div class="header-container">
        <h1>
          <b class="home-header">
            <span>Welcome to Trippify!</span>
          </b>
        </h1>
        <h2>
          <span>A personal travelling application designed for planning vacations & road trips</span>
        </h2>
      </div>
    </div>
  </section>
  <!-- <section id="key-highlights" class="bp-section is-paddingless">
    <div>
      <div class="row is-gapless has-text-centered grid-display">
        <div class="col submission-border">
          <a class="is-highlight">
            <div class="key-highlights-text center-submission-headings enlarge-submission-headings-button break-word">
              <p class="has-text-weight-semibold has-text-white key-highlight-title">
                <span id="LID0000210" class="ehc-submission-header">Create New Trip</span>
              </p>
            </div>
          </a>
        </div>
        <div class="col">
          <a class="is-highlight">
            <div class="key-highlights-text center-submission-headings enlarge-submission-headings-button break-word">
              <p class="ehc-landing-desktop-only">
                <span>&nbsp;</span>
              </p>
              <p class="has-text-weight-semibold has-text-white key-highlight-title padding--bottom--sm">
                <span id="LID0000209" class="ehc-submission-header">Manage Trip</span>
              </p>
              <p class="ehc-landing-desktop-only">
                <span>&nbsp;</span>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section> -->
</div>
