body {
  margin: 0;
  padding: 0;
  background-color: #1a5978;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 360px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

.form-group.username-group {
  text-align: center;
}

.form-group.others-group {
  text-align: left;
}

.create-user-text {
  color:#1a5978
}

.create-user-text:hover {
  color: #9ac1d4;
  cursor: pointer;
}

.form-group #authBtn {
  width: 150px;
}

.btn-login {
  background-color: #1a5978;
}
