<app-progress-banner [currentProgress]="'budget'"></app-progress-banner>
<div class="create-trip-container">

  <div class="create-trip-sidenav">
    <app-side-nav></app-side-nav>
  </div>

  <div class="create-trip-content">

    <form [formGroup]="createTripBudgetForm" novalidate>
      <div class="form_title">
        <span id="">Estimated Trip Budget</span>
      </div>

      <div class="form-check form-switch">
        <input mdbCheckbox class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
          [(ngModel)]="isManualCalEnabled" [ngModelOptions]="{standalone: true}" (change)="onManualSwitchChange()"/>
        <label class="form-check-label" for="flexSwitchCheckDefault">Manually Enter Budget</label>
      </div>

      <div class="form-group form-row required">
        <div class="col-md-8">
          <label id="total_budget_label_0" for="total_budget_0_Label"
            [ngClass]="{'highlightLabel' : fieldIsInvalid(totalBudget)}" class="control-label">
            <span>Total Estimated Trip Budget (in SGD)</span>
            <span class="mandatory-label"></span>&nbsp;
          </label>
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <div class="col-md-4">
            <input id="total_budget_0" type="text" class="form-control allCaps" formControlName="totalBudget"
              (keyup)="showNotComputedError = false; isBudgetComputed = false"
              name="totalBudget">
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button class="button_o btn_text_hover" type="button" *ngIf="!isManualCalEnabled" (click)="computeBudget()"><span
                id="computeBudget">Compute
                Budget</span>
            </button>
          </div>
        </div>
        <label id="total_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(totalBudget)}" class="error-text"
          for="total_budget_0">
          <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(totalBudget)) == 'pattern'">Please enter amount in the
            correct format</span>
          <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(totalBudget)) == 'maxlength'">Maximum number is 9
            digits</span>
          <span *ngIf="totalBudget.hasError('required') && !totalBudget.value && !totalBudget.pristine">This field is
            required
          </span>
          <span *ngIf="showNotComputedError">Bugdet is not computed. Please compute budget before proceeding.</span>
        </label>
      </div>
      <br>
      <div class="sep-hr-line"></div>
      <br>
      <div class="form-manual-fields">
        <div class="form-group form-row required">
          <div class="col-md-4">
            <label id="flight_budget_label_0" for="flight_budget_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(flightBudget)}" class="control-label">
              <span>Flight Budget (in SGD)</span>
              <span class="mandatory-label"></span>&nbsp;
            </label>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <div class="col-md-4">
              <input id="flight_budget_0" type="text" class="form-control allCaps" formControlName="flightBudget" name="flightBudget">
            </div>
            </div>
          <label id="flight_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(flightBudget)}"
            class="error-text" for="flight_budget_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(flightBudget)) == 'pattern'">Please enter amount in the
              correct
              format</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(flightBudget)) == 'maxlength'">Maximum number is 9
              digits</span>
            <span *ngIf="flightBudget.hasError('required') && !flightBudget.value && !flightBudget.pristine">This field
              is
              required
            </span>
          </label>
        </div>

        <div class="form-group form-row required">
          <div class="col-md-8">
            <label id="hotel_budget_label_0" for="hotel_budget_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(hotelBudget)}" class="control-label">
              <span>Hotel Budget (in SGD)</span>
              <span class="mandatory-label"></span>&nbsp;
            </label>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <div class="col-md-4">
              <input id="hotel_budget_0" type="text" class="form-control allCaps" formControlName="hotelBudget"
                name="hotelBudget">
            </div>
          </div>
          <label id="hotel_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(hotelBudget)}"
            class="error-text" for="hotel_budget_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(hotelBudget)) == 'pattern'">Please enter amount in the
              correct
              format</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(hotelBudget)) == 'maxlength'">Maximum number is 9
              digits</span>
            <span *ngIf="hotelBudget.hasError('required') && !hotelBudget.value && !hotelBudget.pristine">This field is
              required
            </span>
          </label>
        </div>

        <div class="form-group form-row required">
          <div class="col-md-8">
            <label id="transport_budget_label_0" for="transport_budget_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(transportBudget)}" class="control-label">
              <span>Transport Budget (in SGD)</span>
              <span class="mandatory-label"></span>&nbsp;
            </label>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <div class="col-md-4">
              <input id="transport_budget_0" type="text" class="form-control allCaps" formControlName="transportBudget"
                name="transportBudget">
            </div>
            </div>
          <label id="total_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(transportBudget)}"
            class="error-text" for="total_budget_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(transportBudget)) == 'pattern'">Please enter amount in the
              correct
              format</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(transportBudget)) == 'maxlength'">Maximum number is 9
              digits</span>
            <span
              *ngIf="transportBudget.hasError('required') && !transportBudget.value && !transportBudget.pristine">This
              field is
              required
            </span>
          </label>
        </div>

        <div class="form-group form-row required">
          <div class="col-md-8">
            <label id="attraction_budget_label_0" for="attraction_budget_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(attractionBudget)}" class="control-label">
              <span>Attraction Budget (in SGD)</span>
              <span class="mandatory-label"></span>&nbsp;
            </label>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <div class="col-md-4">
              <input id="attraction_budget_0" type="text" class="form-control allCaps" formControlName="attractionBudget"
                name="attractionBudget">
            </div>
            </div>
          <label id="attraction_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(attractionBudget)}"
            class="error-text" for="attraction_budget_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(attractionBudget)) == 'pattern'">Please enter amount in the
              correct
              format</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(attractionBudget)) == 'maxlength'">Maximum number is 9
              digits</span>
            <span
              *ngIf="attractionBudget.hasError('required') && !attractionBudget.value && !attractionBudget.pristine">This
              field is
              required
            </span>
          </label>
        </div>

        <div class="form-group form-row required">
          <div class="col-md-8">
            <label id="food_budget_label_0" for="food_budget_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(foodBudget)}" class="control-label">
              <span>Food Budget (in SGD)</span>
              <span class="mandatory-label"></span>&nbsp;
            </label>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <div class="col-md-4">
              <input id="food_budget_0" type="text" class="form-control allCaps" formControlName="foodBudget"
                name="foodBudget">
            </div>
            </div>
          <label id="food_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(foodBudget)}"
            class="error-text" for="food_budget_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(foodBudget)) == 'pattern'">Please enter amount in the
              correct
              format</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(foodBudget)) == 'maxlength'">Maximum number is 9
              digits</span>
            <span
              *ngIf="foodBudget.hasError('required') && !foodBudget.value && !foodBudget.pristine">This
              field is
              required
            </span>
          </label>
        </div>

        <div class="form-group form-row required">
          <div class="col-md-8">
            <label id="other_budget_label_0" for="other_budget_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(otherBudget)}" class="control-label">
              <span>Other Budget (in SGD)</span>
              <span class="mandatory-label"></span>&nbsp;
            </label>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <div class="col-md-4">
              <input id="other_budget_0" type="text" class="form-control allCaps" formControlName="otherBudget"
                name="otherBudget">
            </div>
          </div>
          <label id="other_budget_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(otherBudget)}"
            class="error-text" for="other_budget_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(otherBudget)) == 'pattern'">Please enter amount in the
              correct
              format</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(otherBudget)) == 'maxlength'">Maximum number is 9
              digits</span>
            <span *ngIf="otherBudget.hasError('required') && !otherBudget.value && !otherBudget.pristine">This field is
              required
            </span>
          </label>
        </div>
      </div>

      <div class="text-right">
        <button class="button_o btn_text_hover" type="button" (click)="confirmClicked()"><span id="next">Next</span>
        </button>
      </div>

    </form>


  </div>

</div>
